.container {
  margin-top: 1rem;
}

.sensorList {
  list-style-type: none;
  padding: 0;
}

.sensorListItem {
  margin-bottom: 0.5rem;
}

.showSensorLogs {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
}

.sensorLogsList {
  list-style-type: none;
  padding: 0;
  margin-top: 1rem;
}

.sensorLogsListItem {
  margin-bottom: 0.5rem;
}